<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="form-inventario">
            <div class="mb-3">
                <label class="form-label">Producto ID</label>
                <input class="form-control" th:field="*{productoId}">
            </div>

            <div class="mb-3">
                <label class="form-label">Cantidad actual</label>
                <input type="number" class="form-control" th:field="*{cantidadActual}">
            </div>
        </div>
    </body>
</html>

